{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        We've seen some pretty incredible topics come into our CFP over the years, but we often hear from smart and talented DevOps professionals that they don't submit because they can't think of a topic. If you feel that way, maybe it's because you take your skills and knowledge for granted and think everyone already knows what you know. This is probably not the case, so we decided to make a list of frequently requested topics to help you remember that you do know a lot that others would like to hear about.
    </p>
    <p>
        So to get the ideas flowing, here are few topic ideas:
    </p>
    <ul>
        <li>Transformation stories</li>
        <li>Logging</li>
        <li>Monitoring</li>
        <li>Tech burnout</li>
        <li>DevOps and regulation</li>
        <li>DevOps and the monolithic / 12 factor app</li>
        <li>Continuous delivery</li>
        <li>QA automation</li>
        <li>DevOps without traction</li>
        <li>Scaling development workflow</li>
        <li>Build pipelines / value stream mapping</li>
        <li>What culture means to DevOps</li>
        <li>The DevOps team</li>
        <li>DevOps in the enterprise</li>
        <li>DevOps and Microsoft</li>
        <li>Agile techniques</li>
        <li>DevOps for databases</li>
        <li>Scaling with agility</li>
        <li>Cloud automation</li>
        <li>Container management</li>
        <li>PaaS options/strategy</li>
        <li>ChatOps</li>
    </ul>
</div>
{% endblock %}

